#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 1rem;
  text-align: center;
}

.timelineTitle {
  color: #700101;
  font-size: 3rem; 
  font-weight: 700; 
  line-height: 1.2; 
}

select {
  font-family: 'Cormorant Upright', system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.slider {
  padding-bottom: 30px;
}

.artNav {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  justify-content: space-between;
  align-content: space-between;
}

.card {
  flex: 0 1 24%;
  display: flex;          
  justify-content: center; 
  align-items: center; 
  position: relative;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  color: #700101;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #700101;
  background-color: #EEE;
}

.cardImage {
  height: 300px;
}

.card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}

.cardImage.flipped img {
  opacity: .2;
}

.cardInfo {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.typeToggler{
  padding-top: 1em;
  padding-bottom: .5em;
}

button.toggleType{
  border: 1px solid #700101;
  margin: 5px;
}

button.toggleType.selected{
  color: #700101;
  background-color: #FFF;
  font-weight: 800;
}

.dateRange{
  font-weight: 800;
  font-size: 1.5em;
  padding-left: .5em;
  padding-right: .5em;
  color: #700101;
}

span.rc-slider-mark-text{
  font-size: 1.4em;
}


@media only screen and (max-width: 768px) {
  #root {
    padding: 1em;
  }
  .timelineTitle {
    font-size: 20px;
  }
  .description {
    font-size: 16px;
  }
  .typeToggler .dateRange {
    font-size: 20px;
  }
  .typeToggler button.toggleType {
    font-size: 16px;
    padding: 8px;
    margin: 0;
  }
  .slick-slider {
    font-size: 16px;
  }
  .card {
    flex: 0 1 49%;
  }
  .cardInfo {
    font-size: 14px;
  }
}
