#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 1rem;
  text-align: center;
}

.timelineTitle {
  color: #700101;
  font-size: 3rem; 
  font-weight: 700; 
  line-height: 1.2; 
}

select {
  font-family: 'Cormorant Upright', system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.slider {
  padding-bottom: 30px;
}

.artNav {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  justify-content: space-between;
}

.card {
  flex: 0 1 24%;
  aspect-ratio : 1 / 1;
  display: flex;          
  justify-content: center; 
  align-items: center; 
  position: relative;
  text-shadow: -1px 0 #fcfcdf, 0 1px #fcfcdf, 1px 0 #fcfcdf, 0 -1px #fcfcdf;
  color: #700101;
  font-weight: 900;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.cardImage.flipped img {
  opacity: .25;
}

.cardInfo {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.typeToggler{
  padding: 1em;
}

button.toggleType{
  border: 1px solid #700101;
  margin: 5px;
}

button.toggleType.selected{
  color: #700101;
  background-color: #FFF;
  font-weight: 800;
}

.dateRange{
  font-weight: 800;
  font-size: 1.5em;
  padding-left: .5em;
  padding-right: .5em;
  color: #700101;
}

span.rc-slider-mark-text{
  font-size: 1.4em;
}